*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding:0;
}
header{
    
    background-color: rgb(255, 187, 0);
    display: flex;
}
.foto.titulo{
    width: 80px;    
    height: 80px;
    background-color: rgb(255, 136, 0);
    margin: 10px;
}
hero{

}
.foto1{
    width: 80px;    
    height: 80px;
    background-color: lightblue;
    margin: 10px; 
}
.foto2{
    width: 80px;    
    height: 80px;
    background-color: red;
    margin: 10px; 
}


